{{- if .Values.scheduler.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name:  {{ .Values.scheduler.name }} 
spec:
  replicas: {{ .Values.scheduler.replicas }} 
  selector:
    matchLabels:
      app:  {{ .Values.scheduler.name }} 
  template:
    metadata:
      labels:
        app:  {{ .Values.scheduler.name }} 
    spec:
      hostname:  {{ .Values.scheduler.name }} 
      containers:
      - name:  {{ .Values.scheduler.name }} 
        image: {{ .Values.scheduler.image }}
        imagePullPolicy: IfNotPresent        
        ports:
          - containerPort: 7910
        env:      
          - name: CURR_POD_UID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid        
          - name: DB_DRIVER
            value: {{ .Values.database.driver }}  
          - name: DB_TYPE
            value: {{ .Values.database.type }}   
          - name: DB_URL
            value: {{ .Values.database.url }}  
          - name: DB_NAME
            value: {{ .Values.database.name }}  
          - name: DB_SERVER
            value: {{ .Values.database.server }}  
          - name: DB_USER
            value: {{ .Values.database.user }}  
          - name: DB_PASSWORD
            value: {{ .Values.database.password }}  
          - name: PORT
            value: "7910"           
        volumeMounts:
            - mountPath: /opt/aeo/data
              subPathExpr: cluster/$(CURR_POD_UID)
              name: pvc-aeo-scheduler
            - mountPath: /opt/aeo/data/cluster
              subPath: cluster
              name: pvc-aeo-scheduler         
            - mountPath: /opt/aeo/logs
              subPathExpr: cluster/$(CURR_POD_UID)
              name: pvc-aeo-scheduler-ctl-log
            - mountPath: /opt/aeo/logs/cluster
              subPath: cluster
              name: pvc-aeo-scheduler-ctl-log        
      volumes:
        - name: pvc-aeo-scheduler
          persistentVolumeClaim:
            claimName: pvc-aeo-scheduler
        - name: pvc-aeo-scheduler-ctl-log
          persistentVolumeClaim:
            claimName: pvc-aeo-scheduler-ctl-log             
{{- end }}